<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon"/>
    <title>互动影视|前端达人|登陆</title>

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome Css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Application Css -->
    <link href="css/application.css" rel="stylesheet">

</head>

<body class="huanshu">

<div class="container-fluid">
    <div class="hsmaxwith">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="bookitem clearfix">
                        <form id="login">
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" class="form-control" id="userpassword" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-default" id="loginBtn">登录</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<!-- jQuery Javascript -->
<script src="assets/js/jquery.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="assets/js/bootstrap.min.js"></script>


<!-- Public Javascript -->
<script src="js/public.js"></script>
<!-- Login Javascript -->
<script src="js/login.js"></script>


</body>
</html>